<<<<<<< HEAD
ul{
    display: inline-block;
    list-style-type: none;
    font-family: cursive;
    text-decoration: underline;
    text-decoration-color: lightblue;
    padding: 10px;
}   
li{
    margin: 10px 0;
  }
  
.contactInfo{
    margin-top: 50px;
    letter-spacing: 1px;
    min-height: 79vh;
=======
ul{
    display: inline-block;
    list-style-type: none;
    font-family: cursive;
    text-decoration: underline;
    text-decoration-color: lightblue;
    padding: 10px;
}   
li{
    margin: 10px 0;
  }
  
.contactInfo{
    margin-top: 50px;
    letter-spacing: 1px;
    min-height: 79vh;
>>>>>>> 323943c13d6993301b94ca4eb51962f7e7c9bd9e
}