<<<<<<< HEAD
h1{
    font-size: 40px;
}
.home-page{
    margin-top: 20px;
    margin-bottom: 100px;
}

.invButton{
    margin-top: 20px;
    background-color: whitesmoke;   
}
.homePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:auto;
    border-radius: 50%;
=======
h1{
    font-size: 40px;
}
.home-page{
    margin-top: 20px;
    margin-bottom: 100px;
}

.invButton{
    margin-top: 20px;
    background-color: whitesmoke;   
}
.homePic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height:auto;
    border-radius: 50%;
>>>>>>> 323943c13d6993301b94ca4eb51962f7e7c9bd9e
  }